.navbar {
  height: 70px;
  padding: 0 1rem;
  /* position: relative; -- No longer needed */
  overflow: visible;
  background-color: transparent !important;
}

.nav-items {
  /* margin-left: 250px; -- REMOVED this fragile margin */
}


.navbar-logo {
  height: 60px;
  /* REMOVED absolute positioning to fix overlap */
  /* position: absolute; */
  /* top: 50%; */
  /* transform: translateY(-50%) translateX(40px); */
  /* left: 0; */
  /* z-index: 10; */
  
  /* This helps center it vertically in the navbar */
  vertical-align: middle; 
}

footer {
  background-color: #f8f9fa;
  padding: 1rem 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer a {
  color: #0d6efd;
  text-decoration: none;
  margin: 0 0.5rem;
}

footer a:hover {
  text-decoration: underline;
}