{% extends "notes/base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<div class="content-wrapper">
  <div class="card-ui p-4">
    <h1>About This App</h1>
    <p>Welcome to Auremind! An Ai Personal Manager inspired by Notion and Obsidian. This app helps you organize your notes, tasks, and files in a productive way.</p>
    <p>You can create notes, add due dates, upload files, and manage your tasks efficiently.</p>
    <p class="mb-0">Developed by Group 10 (Dhruv Kahsyap, Prashant Nath, Demas Fadel Anggara, Anuj Rajput).</p>
  </div>
</div>
{% endblock %}