{% extends 'notes/base.html' %}
{% load static %}
{% load number_range %}

{% block title %}Calendar{% endblock %}

{% block content %}
<h1>Calendar - {{ month }}/{{ year }}</h1>

<div class="row">
  {% for day in 1|to:total_days %}
    <div class="col-1 border p-2 mb-2 {% if day == today_day %}bg-warning{% endif %}">
      <strong>{{ day }}</strong><br>
      
      {% for task_day, tasks in calendar_tasks.items %}
        {% if task_day == day %}
          {% for task in tasks %}
            <div class="badge bg-success mb-1">{{ task.title }} ({{ task.due_date|time:"H:i" }})</div>
          {% endfor %}
        {% endif %}
      {% endfor %}
      </div>
  {% endfor %}
</div>

{% endblock %}